# Gateway Discord
TOKEN=seu_token_aqui
CLIENT_ID=seu_client_id_do_bot_aqui
OWNER_ID=seu_id_de_usuario_do_discord_aqui

# Conexão com LLM Local (LM Studio, Ollama, etc)
LM_STUDIO_URL=http://localhost:1234/v1

# Motores de Busca (Scraper API)
MOTOR_DE_BUSCA=SERPER # Opções: SERPER ou GOOGLE
SERPER_API_KEY=sua_chave_serper_aqui
GOOGLE_API_KEY=sua_chave_google_aqui
GOOGLE_CX=seu_id_de_mecanismo_google_aqui